# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  generate_subscription_fees:
    class: GenerateSubscriptionFeesJob
    queue: background
    schedule: every day at 00:10

  send_subscription_reminders:
    class: SendSubscriptionRemindersJob
    queue: background
    schedule: every day at 09:00

development:
  generate_subscription_fees:
    class: GenerateSubscriptionFeesJob
    queue: background
    schedule: every day at 00:10

  send_subscription_reminders:
    class: SendSubscriptionRemindersJob
    queue: background
    schedule: every day at 09:00
